/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Kas 2020, 17:53:45
    Author     : HP
*/
.parent{
    -fx-background-color: transparent;
}

.pane{
   -fx-background-color : #2196f3; 
}
.trans-btn-white-border{
   -fx-background-color: transparent;
   -fx-background-radius: 5px;
   -fx-border-color: #CCCCCC;
   -fx-border-radius: 5px;
   -fx-border-width: 1px;
   -fx-text-fill: whitesmoke
}
.white-pane{
   -fx-background-color: #ffffff;  
}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
   -fx-background-color: transparent;
   -fx-border-color: #DEDEE4;
   -fx-border-width: 0px 0px 1px 0px;
   -fx-text-inner-color: white;
}
.tf{
   -fx-background-color: transparent;
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

